
.section_dos{

background-image: url(../img/seccion_dos/istockphoto-1199644401-170667a.jpg);
    display: flex;
        justify-content: center;
        height: 100vh;
        align-items: center;
        background-size: cover;


        @media (max-width: 1030px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }


    .container_card{
        border-radius: 1rem;
        box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        margin: 1.5rem;
        overflow: hidden;
        width: 15rem;
        backdrop-filter: blur(1rem);
        background-color: rgba(255, 255, 255, 0.060);
        border: .1rem solid rgba(255, 255, 255, 0.18);
        color: $ColorTitulos;

        

        .top-row{
            pad: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            i{
                font-size: 2rem;
            }
        }
        
        .card_uno-background{
            background-color: rgba(52,3,45,0.3);
            backdrop-filter: blur(.4rem) ;
        }
        

        .content_card-uno{

            padding: 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
            h2{
                letter-spacing: .1rem;
                margin: 1rem 0;
            }
            p{
                font-size: .9rem;
            }
            button{
                border-radius: 3rem;
                color: $ColorBtn;
                font-size: .8rem;
                padding: .5rem .3rem; 
                letter-spacing: .1rem;
                align-self: flex-end;
                border: .1rem solid rgba(255, 255, 255, 0.18);
                
            }
        }
        
    

    }
    
}


